:root{
    --pink:#925774;
 
 }
 
 
 *{
     margin: 0; padding: 0;
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     outline: none;border: none;
     text-decoration: none;
     text-transform: none;
     transition: .2s linear;
 }

 
 
 html{
     font-size: 62.5%;
     scroll-behavior: smooth;
     scroll-padding-top: 6rem;
     overflow-x: hidden;

 }
 
 section{
     padding: 2rem 9%;
 }
 
 .btn{
     display: inline-block;
     margin-top: 1rem;
     border-radius: 5rem;
     color: #fff;
     background: #333;
     padding: .9rem 3.5rem;
     cursor: pointer;
     font-size: 1.7rem;
 
 }
 .btn:hover{
     background:var(--pink);
 }
 
 .headings{
     text-align: center;
     font-size: 4rem;
     color: #333;
     padding: 1rem;
     margin: 2rem 0;
     background: rgba(255, 51, 153, .05);
 
 }
 .headings span{
     color: var(--pink);
 }
 
 
 
 header{
     position: fixed;
     top: 0; left: 0;right:0;
     background: #FEFCFA ;
     padding: 2rem 9%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) ;
 
 }
 #logo{
     width: 10%;
 }
 
 header .navbar a{
     font-size: 2rem;
     padding: 0 1.5rem;
     color: #666;
 }
 
 header .navbar a:hover{
     color:var(--pink);
 }
 
 header .icons a{
     font-size: 2.5rem;
     color: #333;
     margin-left: 1.5rem ;
 }
 
 header .icons a:hover{
     color:var(--pink);
 }
 
 header #toggler{
     display: none;
 }
 
 header .fa-bars{
     font-size: 3rem;
     color:#333;
     border-radius: .5rem;
     padding: .5rem 1.5rem;
     cursor: pointer;
     border: .1rem solid rgba(0, 0, 0, .3);
     display: none;
 }

.flex-box{
    display: flex;
    width: 1000px;
    margin: 20px auto;
    padding-top: 150px;
    padding-bottom: 200px;
}
.left{
    width: 40%;
    padding-right: 50px;
}
.big-img{
    width: 300px;
}
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}
.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}

.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.ratings i{
    padding-top: 20px;
    color: rgb(255, 136, 0);
}
.price{
    font-size: 30px;
    margin: 20px 0;
    color: red;
    font-weight: bold ;
}
.size{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}
.psize.active{
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}
.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: #333;
    margin-right: 20px;
}
.buy-btn{
    background-color: #3f0308;
}
.cart-btn:hover{
    background-color: var(--pink);
}
.buy-btn:hover{
    background-color: var(--pink);
}


 
 
 
 
 
 
 
 
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;

}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;

}

.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
    width: 50%;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color: var(--pink);
}
 
 
 
 
 
 
 
 
 
 /*  media queries */
 @media (max-width:991px) {
     html{
         font-size: 55%;
     }
     header{
         padding:2rem;
     }
     #logo{
         width: 30%;
     }
     section{
         padding: 2rem;
     }
     .home{
         background-position: left;
 
     }
 }
 @media (max-width:768px) {
     header .fa-bars{
         display: block;
 
     }
     header .navbar{
         position: absolute;
         top: 100%; left:0; right:0;
         background: #eee;
         border-top: .1rem solid rgba(0, 0, 0, .1);
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }
     header #toggler:checked ~ .navbar{
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
     
     header .navbar a{
         margin: 1.5rem;
         padding: 1.5rem;
         background: #fff;
         border: .1rem solid rgba(0, 0, 0, .1);
         display: block;
     }
     .home .content h3{
         font-size: 5rem;
 
     }
     .home .content span{
         font-size: 2.5rem;
     }
 }
 @media (max-width:450px) {
     html{
         font-size: 50%;
     }
     
 }
 